# OS / Python
.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual envs
.venv/

# Experiments & models
experiments/
models/
*.joblib
*.pt
*.pth
*.h5
*.keras
*.zip

# Videos / big media
*.mp4
*.mov

# Optional: OpenCV Caffe weights (use Git LFS if you must track)
*.caffemodel
*.prototxt
tools/models/**
!tools/models/
!tools/models/README.md

# Lowercase data dir (just in
